*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
nav {
    width:100%;
    height:10%;
    background-color:rgb(70, 135, 156);
    display: flex;
    justify-content:center;
    font-family: 'Outfit', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    margin:10px;
    text-align:center;
    font-weight:600;
}


header {
    min-height:25%;
    width:100%;
    background-color:rgb(94, 154, 190);
}
.headernav {
    display:flex;
    flex-direction:column;
}
.headerlogo {
    display:flex;
}
#logo {
    width:40%;
    height:auto;
    display:flex;
}

h6{
    text-align: center;
}

.videotekst {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.textform {
    display:flex;
    flex-direction:column;
}

.texttabel {
    display:flex;
    flex-direction:column;
}
main {
    word-break:keep-all;
    width: 70%;
    background-color:lightblue;
    padding:10px;
    display:flex;
}
#table {
    height:10%;
    width:10%;
}

#imgtable {
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    padding:10px;

}
#name {
    font-size:40px;
    text-align:center;
    font-family: 'Outfit', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}

section{
    width:30%;
    background-color:rgb(60, 157, 189);
    display:flex;
    flex-direction:row;
    word-break:keep-all;
    padding:10px;
}

img {
    width: 100%;
    height:auto;
    
}
.fotosoprichters {
    display:flex;
    flex-direction:column;
    
}


.oprichters {
    text-align:center;
    font-size:15px;
    font-weight:bold;
}

table, th, td{
border: 1px solid black;
}
.artaside {
    display:flex;
}

#drinks,#puppy, #robin {
    padding-left:10px;
}

footer {
    width:100%;
    height:100px;
    background-color:cadetblue;
    font-size:16px;
    color:white;
    text-align: center;
    padding: 10px;

}