*{
    box-sizing:border-box;
}
nav {
    width:1000px;
    height:150px;
    background-color:rgb(70, 135, 156);
    display: flex;
    justify-content:center;
}

a {
    text-decoration: none;
    color: black;
    margin:10px;
    text-align:center;
}

header {
    height:150px;
    width:1000px;
    background-color:rgb(94, 154, 190);
}
main {
    word-break:keep-all;
    width: 700px;
    background-color:lightblue;
    padding:10px;
    display:flex;
}

section{
    width:300px;
    background-color:rgb(60, 157, 189);
    display:flex;
    flex-direction:row;
    word-break:keep-all;
    padding:10px;
}

.artaside {
    display:flex;
}

#drinks,#puppy, #robin {
    padding-left:10px;
}