a{
    text-decoration: none;
    color:white;
    

}

.navigatie {
    text-align: right;
    word-spacing: 10px;
}

#Google {
    font-size: 94px;
    font-family: 'Poppins', sans-serif;
    text-align:center;
   
}
#formulier {
    display:flex;
    justify-content:center;
    align-items:center;
}
#zoekveld {
   
    border-radius:5px;
    border: 0.1px solid grey;
    box-shadow:none;
    
    
}
* {
   
    background-color:rgb(46, 46, 46);
    color:white;
    font-family:sans-serif;

}