
@font-face {
    font-family: 'product_sans';
    src:  url(/xampp/htdocs/opdrachtenhtml-css/product-sans/Product\ Sans\ Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;

}
header {
    display:flex;
    justify-content:flex-end;
    align-content:space-between;
    

}

#navigatie i {
    position:relative;

}

navigatie {
    margin-bottom:10px;
    display:flex;
    

}
#apps {

    color:lightgray;
    padding: 8px;
    min-width:16px;
 
   
}

#apps:hover {
    cursor:pointer;

}
.zoekveldicoon i {
    position: absolute;


}

.zoekveldicoon span {
    position:absolute;

  
}
#mic {
    padding:11px;
    margin-left:550px;
}

#mic:hover {
    cursor:pointer;
}
.zoekveldicoon {
    margin-bottom:10px;
    display:flex;
}
.material-icons {
    color:lightgray;
    padding: 11px;
    min-width:40px;


}



a.navigatie {
    text-decoration: none;
    color:white;
    font-size:16px;
}


#Google {
    font-size: 94px;
    font-family:product sans;
    text-align:center;
    margin:auto;
   
   
}
#formulier {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#zoekveld {
    border-radius: 27px;
    border: 0.3px solid rgb(90, 89, 89);
    box-shadow:none;
    font-size:18px;
    padding-left:40px;
    width: 601px;
    height: 49px;
    background-color:#202124;
    display:flex;
    outline: none;
    position:inherit;


}




#zoekveld:hover {
    box-shadow:black;
    color: #363636;
    cursor:auto;
}


.tooltip {
    position: relative;
    display:inline-block;
}

.tooltip, .tooltip-text {
    visibility:hidden;
    width:120px;
    background-color:black;
    color:#fff;
    text-align:center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index:1;

}

.tooltip:hover, .tooltip-text {
    visibility: visible;
}
.submit {
    display:flex;
    flex-direction:row;
    word-spacing:10px;
    font-size:18px;


}
.button{
    display:flex;
    flex-direction:row;
    font-size:18px;
    justify-content:center;
    font-size:14px;
    box-shadow:none;
    background-color:#303134;
    border:none;
    border-radius: 5px;
    height: 41px;  
    width: 137px;
    margin-right: 20px;
    padding:6px;
   align-items:center;
   color:white;
   cursor:pointer;


   

    
}

.button:hover {
    border: 1px solid grey;
    
}


#Nederland {
   
    background-color:#171717;
    border-bottom:2px solid #202124;
    padding:15px 30px;
    width:100%;
    position:absolute;
    bottom:50px;
    color: #999da2;
    margin-left: -10px;

}
footer {
    background-color:#171717;
    width:100%;
    padding: 15px 30px;
    color: rgba(102, 102, 102, 0.829);
    position:absolute;
    bottom:0px;
    text-decoration:none;
    margin-left: -10px;
    display:flex;
    justify-content:space-between;   

}
#adverteren, #bedrijf, #HGZwerkt {
    padding:15px;
}

.footer {
 
  font-size:small;
} 

a.CO2 {
    text-decoration:none;
    color:#999da2;
    font-size: 14px;
}
a.footer {
    text-decoration:none;
    color: #999da2;
    font-size:15px;
   
}

p {
text-align:center;
color:rgb(184, 184, 184);
font-size:medium;
font-size:13px;
}


.talen {
   color:rgb(141, 181, 233);
   text-decoration: none;
 
}

.talen:hover {
    text-decoration:underline;
}

* {
    box-sizing:border-box;
}
body, header{
   
    background-color:#202124;
    color:white;
    font-family:sans-serif;

}


